@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: rgba(199, 193, 193, 0.603);
  color: rgba(0, 0, 17, 0.808);
}

.time-container{
  width: 50%;
  border: 1px solid rgb(0, 0, 15);
  display: flex;
  justify-self: center;
  justify-content: center;
  margin-top: 10em;
  padding: 5em;
  border-radius: 2em;
}

.time-container > div{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.5em;
}

#timezone{
  display: flex;
  gap: .5em;
  align-items: center;
  justify-items: center;
}

#timezone-icon{
  cursor: pointer;
}

#time{
  font-weight: 900;
  font-size: 5rem;
}

#date{
  font-size: 1rem;
  font-weight: 700;
}




.timezone-modal {
  display: none;
}

.timezone-modal.is-open {
  display: block;
}

.timezone-modal-content{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.65);
}

.content{
  background-color: white;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: .5em;
  border-radius: .5em;
}

#timezones{
  padding: .2em;
  font-size: 1.2em;
  outline: none;
  border-radius: .3em;
  background-color: transparent;
}
button{
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

#apply{
  background-color: rgba(199, 193, 193, 0.603);
  color: rgba(0, 0, 17, 0.808);
  font-size: 1.3em;
  padding: .2em;
  border-radius: .5em;
  border: 1px solid rgba(0, 0, 0, 0.479);
  margin: 1em;
}